<header>
  <nav
    [class]="
      isScrolled()
        ? 'navbar navbar-dark bg-dark fixed-top'
        : 'navbar navbar-dark bg-transparent fixed-top'
    "
  >
    <!-- Add your navbar content here -->
    <a class="navbar-brand" href="#">Your Logo</a>
  </nav>
  <div class="header-image"></div>
</header>

<section>
  <h2>PAGINA PRUEBA</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eum
    vel quidem deserunt? Quo officiis earum cumque delectus expedita voluptatem
    nobis nihil, ab, totam veniam consectetur deleniti, voluptatum inventore
    laudantium?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eum
    vel quidem deserunt? Quo officiis earum cumque delectus expedita voluptatem
    nobis nihil, ab, totam veniam consectetur deleniti, voluptatum inventore
    laudantium?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eum
    vel quidem deserunt? Quo officiis earum cumque delectus expedita voluptatem
    nobis nihil, ab, totam veniam consectetur deleniti, voluptatum inventore
    laudantium?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eum
    vel quidem deserunt? Quo officiis earum cumque delectus expedita voluptatem
    nobis nihil, ab, totam veniam consectetur deleniti, voluptatum inventore
    laudantium?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eum
    vel quidem deserunt? Quo officiis earum cumque delectus expedita voluptatem
    nobis nihil, ab, totam veniam consectetur deleniti, voluptatum inventore
    laudantium?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eum
    vel quidem deserunt? Quo officiis earum cumque delectus expedita voluptatem
    nobis nihil, ab, totam veniam consectetur deleniti, voluptatum inventore
    laudantium?
  </p>
</section>
